html {
    scroll-behavior: smooth;
    margin:0;
}

body {
    margin:0;
    font-family: 'Rubik', sans-serif;
    background-color: #fff;
    background-image:
    linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
    linear-gradient(#eee .1em, transparent .1em);
    background-size: 100% 1.2em;
}



.erster-titel  {
    margin-top: 80px;
}

.dropdown-content {
    text-decoration: none;
    display:none;
    position:absolute;
    border-color: solid rgb(101, 153, 168) 3px;

}

.dropdown-content a {
    color:black;
    text-decoration:none;
    display:block;
    padding:10px 10px 10px 10px;

}



.dropdown-content a:hover {
    background-color:rgb(182, 227, 241);
    border-radius:15px 15px 15px 15px;
    width:200%;

}

.dropdown {
    border-color:rgb(101, 153, 168);
    transition: background-color 1s;
    color: black;
    right:20px;
}


.dropdown:hover .dropdown-content {
    display:block;
    position:fixed;
    right:0px;
    margin-top:66px;
    border: solid rgb(152, 200, 214) 3px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px; 
    border-bottom-right-radius: 20px;
    background-color: rgb(152, 200, 214);
    padding:10px 30px 10px 30px;
    box-shadow: 0px 0px 50px rgb(101, 153, 168);
    font-size:16px;

}

.downloadbtn {
    border-top-left-radius: 2cm;
    border-top-right-radius: 2cm;
    border-bottom-left-radius: 2cm; 
    border-bottom-right-radius: 2cm;
    padding: 20px 100px 20px 100px;
    margin: 5px 20px 0px 20px;
    background-color:rgb(182, 227, 241);
    border: solid rgb(152, 200, 214) 3px;
    transition: background-color 1s;
    color: black;
    font-weight:bold;
    width:fit-content;
 
}

.downloadbtn:hover {
    background-color: rgb(152, 200, 214);
    box-shadow: 0px 0px 50px rgb(101, 153, 168);
    cursor: pointer;

}


.dropbtn:hover {
    text-decoration:none;
}

header {
    padding-bottom:1px;
    background-color:rgb(182, 227, 241);
    position: fixed;
    top:0;
    width:100%;
    box-shadow: 0px 0px 80px rgb(101, 153, 168);
}

.dropbtn {
    border-radius: 15px;
    padding: 14px 100px 14px 100px;
    margin: 17px 20px 0px 20px;
    float:right;
    background-color:rgb(182, 227, 241);
    border: solid rgb(152, 200, 214) 3px;
    color: black;
    width:fit-content;
    font-weight: bold;
    animation: bounceInDown 900ms 200ms ease-in-out both;
    z-index: 990;


}

.dropbtn-1 {
    border-top-left-radius: 2cm;
    border-top-right-radius: 2cm;
    border-bottom-left-radius: 2cm; 
    border-bottom-right-radius: 2cm;
    padding: 15px 100px 15px 100px;
    margin: 15px 20px 0px 20px;
    text-align: center;
    background-color:rgb(182, 227, 241);
    border: solid rgb(152, 200, 214) 3px;
    transition: background-color 1s;
    color: black;
    width:fit-content;
    font-size: 18px;

}

.dropbtn-2 {
    border-top-left-radius: 2cm;
    border-top-right-radius: 2cm;
    border-bottom-left-radius: 2cm; 
    border-bottom-right-radius: 2cm;
    padding: 15px 100px 15px 100px;
    margin: 15px 20px 0px 20px;
    text-align:center;
    background-color:rgb(182, 227, 241);
    border: solid rgb(152, 200, 214) 3px;
    transition: background-color 1s;
    color: black;
    width:fit-content;
    font-size: 18px;

}

.dropbtn-1:hover {
    cursor:pointer;
    background-color: rgb(152, 200, 214);
    box-shadow: 0px 0px 50px rgb(101, 153, 168);

}

.dropbtn-2:hover {
    cursor:pointer;
    background-color: rgb(152, 200, 214);
    box-shadow: 0px 0px 50px rgb(101, 153, 168);

}

.dropbtn:hover {
    cursor:pointer;
    background-color: rgb(152, 200, 214);
    box-shadow: 0px 0px 50px rgb(101, 153, 168);
    
}

#formulare-beispiel {
    display:flex;
    justify-content: center;
    width:600px;
}



#sql-logo {
    width: 120px;
    margin-top: 8px;
    margin-bottom: 15px;
    float:left;

}

.code-gleich {
    background-color:rgb(125, 171, 185);
    padding:20px 130px 20px 130px;
    border-radius: 20px;
    display:flex;
    justify-content: center;
    flex-direction: column;
    text-align:justify;
}

#watermark-1 {
    position:absolute;
    opacity:0.5;
    color:rgb(202, 199, 199);
    transform: rotate(-30deg);
}

.ändern-tabelle-watermark-1 p {
    display: flex;
    justify-content: inherit;
    align-items: inherit;
}

main {
    margin:0 auto;
    max-width: 1300px;
    border:solid rgb(152, 200, 214) 10px;
    box-shadow: 0px 0px 170px 15px rgb(152, 200, 214);
    background-color: rgb(152, 200, 214);
    margin-top:50px;
    padding-bottom: 100px;
}

#was-ist-sql {
    text-align: center;
}

.hr-1 { 
    border:solid rgb(101, 153, 168) 3px;
    border-radius:10px 10px 10px 10px;
    width:100%;
}




#relationale-datenbanken {
    text-align:center;
}

.n-abschnitt {
    border: rgb(111, 198, 219);
}


footer {
    
    background-color:rgb(182, 227, 241);
    position: static;
    box-shadow: 0px 0px 80px rgb(101, 153, 168);
    bottom:0px;
    margin:0;
    padding: 0 0 0 20px;  
    width:100%;


}

.copyright {
    bottom:0px;
    text-align: center;
    padding:0;
    font-size: 13px;
    margin-top:20px;

}


#instagram-logo {
    width: 65px;
    float:right;
    margin-top: 50px;
    margin-right: 40px;
}

#instagram-logo:hover {
    cursor:pointer;
    box-shadow: 0px 0px 50px rgb(101, 153, 168);

}


.kontaktinfos-content p {
    margin: 7px;
}

.kontaktinfos-content {
    margin-left: 25px;
}

#kontaktinfos-titel {
    text-decoration: underline;
    padding-top: 50px;
    margin-top:0px;
    margin-left:30px;
    text-align: justify;
}

.kontaktinfos div.links {
    display: flex;
    flex-direction: row;
}

#links-titel {
    margin-left:30px;
}




div {
    text-align: left;
    margin:0 auto;
}


main div {
    width:600px;
}

main img {
margin:0 auto;
text-align: center;
}

h1 {
    margin-bottom: 40px;
    color:rgb(101, 153, 168);
    font-size: 28px;
    margin:0 auto;
    margin-top:200px;

}

h3 {
    margin-top: 100px;
}

h4 {
    margin-top: 100px;
}


* {
    box-sizing: border-box;
  }

.bildflaechen {
    display:flex;
    flex-direction:row;
}
#u187 {
    margin-right: 20px;
}

.texteingabe-abschnitt {
    margin:0 auto;
}

.search {
    float:right;    
    margin-top:20px;
}

.suchbegriff {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px; 
    padding: 15px 70px 15px 70px;
    border-style:none;
    margin-right:0;
}

.suchen {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 15px 40px 15px 40px;
    border-style:none;
    margin-left:0;

}

.suchen:focus {
    border-top-right-radius: 2cm;
    border-bottom-right-radius: 2cm;

}

.alle-img {
    display:flex;
    justify-content: center;
    border-radius:10px;

}

.js-einbinden {
    width:600px;
    display:flex;
    justify-content: center;
    border-radius:20px;

}

.tg  {border-collapse:collapse;border-spacing:0;margin-top:50px;display:flex;justify-content: center;}
.tg td{font-family: 'Rubik', sans-serif; font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg th{font-family: 'Rubik', sans-serif; font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg .tg-u6bb{font-family: 'Rubik', sans-serif !important;;background-color:#b1bbb9;border-color:#b1bbb9;text-align:center;vertical-align:top}
.tg .tg-0o9u{font-family: 'Rubik', sans-serif !important;;background-color:#b1bbb9;border-color:#b1bbb9;text-align:left}
.tg .tg-5j0w{border-color:#a0a7a5;text-align:left;vertical-align:top}













.buttons a:not(.active) {
 box-shadow: inset 0 1px 1px rgba(111, 55, 125, 0.8), inset 0 -1px 0px rgba(63, 59, 113, 0.2), 0 9px 16px 0 rgba(0, 0, 0, 0.3), 0 4px 3px 0 rgba(0, 0, 0, 0.3), 0 0 0 1px #150a1e;
 background-image: linear-gradient(#3b2751, #271739);
 text-shadow: 0 0 21px rgba(223, 206, 228, 0.5), 0 -1px 0 #311d47;
}
.buttons a:not(.active):hover,
.buttons a:not(.active):focus {
 transition: color 200ms linear, text-shadow 500ms linear;
 color: #caadd2;
 text-shadow: 0 0 21px rgba(223, 206, 228, 0.5), 0 0 10px rgba(223, 206, 228, 0.4), 0 0 2px #2a153c;
}

.buttons a:not(.active):active {
 color: #e4e3ce !important
}

.buttons a.active,
.buttons a:active {
 box-shadow: 0 9px 16px 0 rgba(0, 0, 0, 0.1), 0 0 0 1px #170c22, 0 2px 1px 0 rgba(121, 65, 135, 0.5), inset 0 0 4px 3px rgba(15, 8, 22, 0.2);
 background-image: linear-gradient(#1f132e, #311d47);
 text-shadow: 0 0 21px rgba(223, 206, 228, 0.5), 0 0 10px rgba(223, 206, 228, 0.4), 0 0 2px #2a153c;
 color: #e4e3ce;
}

.buttons a.active:before,
.buttons a:active:before {
 position: absolute;
 display: block;
 content: "";
 width: 1px;
 height: 36px;
 top: 1px;
 left: -2px;
 background-image: linear-gradient(rgba(91, 35, 105, 0), #5b2369 41%, #5b2369 59%, rgba(91, 35, 105, 0));
 box-shadow: -2px 0 6px 0 #5b2369;
}

.buttons a.active:after,
.buttons a:active:after {
 position: absolute;
 display: block;
 content: "";
 width: 1px;
 height: 36px;
 top: 1px;
 right: -2px;
 background-image: linear-gradient(rgba(91, 35, 105, 0), #5b2369 41%, #5b2369 59%, rgba(91, 35, 105, 0));
 box-shadow: 2px 0 6px 0 #5b2369;
}

.buttons a.active {
 z-index: 1000
}

.buttons a:active {
 z-index: 999
}

.buttons a:last-of-type {
 border-radius: 0 7px 7px 0;
}

.buttons a:first-of-type {
 border-radius: 7px 0 0 7px;
 left: 0;
}

.buttons a:nth-of-type(2) {
 left: 51px
}

.buttons a:nth-of-type(3) {
 left: 102px
}

.buttons a:nth-of-type(4) {
 left: 153px
}

.buttons a:nth-of-type(5) {
 left: 204px
}

.buttons a:nth-of-type(6) {
 left: 255px
}

.buttons a:nth-of-type(7) {
 left: 306px
}

.buttons a:nth-of-type(8) {
 left: 357px
}
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg .tg-u6bb{font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif !important;;background-color:#b1bbb9;border-color:#b1bbb9;text-align:center;vertical-align:top}
.tg .tg-0o9u{font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif !important;;background-color:#b1bbb9;border-color:#b1bbb9;text-align:left}
.tg .tg-5j0w{border-color:#b1bbb9;text-align:left;vertical-align:top}

